{% extends 'core/base.html' %}
{# Extiende la plantilla base `base.html` desde la carpeta `core`. 
   Esto permite reutilizar la estructura común (como encabezados, pies de página, etc.) 
   y solo modificar las partes específicas de esta página. #}

{% load static %}
{# Carga el módulo `static`, que permite incluir archivos estáticos (CSS, imágenes, JS) 
   en la plantilla usando #}

{% block title %}Historia{% endblock %}
{# Define el bloque `title`, que se utiliza para establecer el título de la página. 
   Este bloque  sera reemplazado en la plantilla base `base.html`. #}

{# Define el bloque `content`, que contiene el contenido principal de la página. 
   Este bloque también será reemplazado en la plantilla base `base.html`. #}
{% block content %}
<section class="page-section about-heading">
  <div class="container">
    {# Incluye una imagen estática (`about.jpg`) desde la carpeta `static/core/img/`. 
       La función `{% static 'ruta' %}` genera la URL correcta para el archivo estático. #}
    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{% static 'core/img/about.jpg' %}" alt="">
    <div class="about-heading-content">
      <div class="row">
        <div class="col-xl-9 col-lg-10 mx-auto">
          <div class="bg-faded rounded p-5">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Tradición familiar italiana</span>
              <span class="section-heading-lower">Nuestra historia</span>
            </h2>
            <p>Fundada en 1987 consectetur adipiscing elit. Donec leo dui, vehicula vel dapibus ac, tempus non enim. Nunc tempor vel lacus vel gravida. Nam sit amet pellentesque mi. </p>
            <p>Curabitur efficitur pellentesque tellus nec volutpat. In viverra mattis sem, facilisis condimentum mi rutrum ut. Quisque ut pellentesque dui.Nullam eu vehicula metus. Pellentesque id interdum elit. Aenean in efficitur enim.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{# Fin del bloque de contenido #}
{% endblock %}