<!DOCTYPE html>
<html lang="es">
<head>
    {% extends 'core/base.html' %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Acerca de {% endblock %}</title>
</head>
<body>
    {% block content %} 
        <h2>Acerca de</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat cum vero doloribus quia modi eum at eaque aliquam. Deserunt dolores laboriosam minima? Illo quasi eum, eligendi voluptatum ipsam cumque vel.
        Labore cumque similique nam quidem architecto quam. Corrupti explicabo placeat quos iste error amet commodi fugit. Mollitia assumenda nobis eveniet corrupti vel voluptates in temporibus corporis delectus, veritatis, veniam dolorum.
        </p>
    {% endblock %}
</body>
</html>